ZEPHYR_API_PORT=8080
ZEPHYR_MYSQL_URL=jdbc:mysql://127.0.0.1:3306/zephyr_watch?useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
ZEPHYR_MYSQL_USER=root
ZEPHYR_MYSQL_PASSWORD=nisibusisa250
ZEPHYR_REDIS_HOST=127.0.0.1
ZEPHYR_REDIS_PORT=6379
ZEPHYR_KAFKA_BOOTSTRAP_SERVERS=127.0.0.1:9092
ZEPHYR_MODEL_SERVICE_URL=http://localhost:5001/api/risk/score
ZEPHYR_MODEL_REGISTRY_ACTIVE_URL=http://localhost:8080/api/models/active
ZEPHYR_LOAD_ACTIVE_MODEL=false
ZEPHYR_MINIO_ENDPOINT=localhost:9000
ZEPHYR_MINIO_ACCESS_KEY=minioadmin
ZEPHYR_MINIO_SECRET_KEY=minioadmin
ZEPHYR_MINIO_SECURE=false
